html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  background-color: lightgray;
  display: table-cell;
  vertical-align: middle;
}

#formErrors {
  display: none;
}

input {
  border: 2px solid rgb(255, 0, 0);
}

li {
  color: red;
}
